<!DOCTYPE html>
<html>
<head>
  <title>M4</title>
  
</head>
<body>
<main class="page">
  <nav>
    <ul>
      
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>