<div class = "content_list">
  <% for account in @accounts %>
  <ul>
  <a href=""><li><%= account.type%></li>
  </a>
  </ul>
  <br>
  <hr>
  <br>
  <% end %>
  <a href="account/new">Add Account</a>
</div>
