<div class = "content_list">
<form class = "content_list" action="<%= @user.id %>/accounts/new" method="post">
  <p>
  Type your name:
  </p>
  <p>
    <label>
    Name:
      <input type = "text" name="name"><br>
      Account Type:
      <input type = "text" name="type"><br>
      Starting Balance:
      <input type="number" name="balance">

    </label>
  </p>
</form>
</div>