<div class = "content_list">
<form  action="<%= @user.id %>/accounts/new" method="post">
  <p>
  Type your name:
  </p>
  <p>
    <label>
    Name: <br>
      <input class="small_input" type = "text" name="name"><br>
      Account Type:<br>
      <input class="small_input" type = "text" name="type"><br>
      Starting Balance:<br>
      <input class="small_input" type="number" name="balance">

    </label>
  </p>
</form>
</div>