<div class="content_list">
<form class = "content_list" action="/users/new" method="post">
 
  <p>
    <label>
    <p>
    Type your name:
    </p>
      <input name="name">
      
    </label>
  </p>


  <input class="btn btn--action" type='submit' value="Submit"></form>
  </div>